# OS
.DS_Store
Thumbs.db

# IDEs
.buildpath
.project
.settings/
.build/
.external*/
.idea/
nbproject/

# composer related
composer.lock
vendor/

# phpcq related
.phpcq.lock
.phpcq
.phpunit.result.cache
